<?xml version="1.0" encoding="UTF-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (c) 2015. Lorem ipsum dolor sit amet, consectetur adipiscing elit.                                      ~
  ~ Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.                       ~
  ~ Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.                                                  ~
  ~ Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.                    ~
  ~ Vestibulum commodo. Ut rhoncus gravida arcu.                                                                      ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <task:executor id="asyncExecutor" pool-size="${multSize}"
                   queue-capacity="2000" keep-alive="300" rejection-policy="CALLER_RUNS"/>
    <task:annotation-driven executor="asyncExecutor" mode="proxy"/>

    <task:scheduler id="scheduler" pool-size="10"/>
    <task:scheduled-tasks scheduler="scheduler">

        <!-- 聚通達通道 -->
        <task:scheduled ref="jTDChannelImpl" method="task" fixed-delay="30000"/>
        <task:scheduled ref="jTDLTChannelImpl" method="task" fixed-delay="30000"/>
        <task:scheduled ref="jTDYDChannelImpl" method="task" fixed-delay="30000"/>

        <!-- 天下暢通 -->
        <task:scheduled ref="tXCTChannelImpl" method="task" fixed-delay="30000"/>

        <!--中山點對點-->
        <task:scheduled ref="zSP2PChannelImpl" method="task" fixed-delay="30000"/>

        <!-- 廣州朗月 -->
        <task:scheduled ref="gZLYDXChannelImpl" method="task" fixed-delay="30000"/>
        <task:scheduled ref="gZLYLTChannelImpl" method="task" fixed-delay="30000"/>
        <task:scheduled ref="gZLYYDChannelImpl" method="task" fixed-delay="30000"/>

        <!-- 東莞聯通 -->
        <task:scheduled ref="dGLTChannelImpl" method="task" fixed-delay="30000"/>

        <!-- 飛信 -->
        <task:scheduled ref="fXYDChannelImpl" method="task" fixed-delay="30000"/>


        <!-- 重推服務 -->
        <task:scheduled ref="rePushSmsStatusServer" method="task" cron="0 0/5 * * * ?"/>

    </task:scheduled-tasks>

</beans>

